.wrapper:after, .section#section-2 .timeline:after, .section#section-4 .items:after {
  display: block;
  content: " ";
  clear: both; }

/* COLORS */
/* FONTS */
@font-face {
  font-family: Ubuntu;
  src: url("fonts/ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url("fonts/ubuntu/Ubuntu-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: Ubuntu;
  src: url("fonts/ubuntu/Ubuntu-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: merriweather;
  src: url("fonts/merriweather/Merriweather-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: merriweather;
  src: url("fonts/merriweather/Merriweather-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: merriweather;
  src: url("fonts/merriweather/Merriweather-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent; }

html, body {
  font-size: 16px;
  direction: ltr;
  width: 100%;
  overflow-x: hidden;
  font-family: Ubuntu, Tahoma, Arial, Sans-Serif;
  background-color: #f0eddd; }

#size_checker {
  width: 0;
  height: 0; }
  @media screen and (min-width: 1168px) {
    #size_checker {
      font-size: 1px; } }
  @media screen and (min-width: 768px) and (max-width: 1168px) {
    #size_checker {
      font-size: 2px; } }
  @media screen and (max-width: 767px) {
    #size_checker {
      font-size: 3px; } }

.burger-btn {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 4rem;
  height: 4rem;
  padding: 1.4375rem 1.125rem;
  z-index: 100;
  cursor: pointer;
  background-color: #71adbe;
  border-radius: 100%; }
  @media screen and (max-width: 767px) {
    .burger-btn {
      width: 3rem;
      height: 3rem;
      padding: 16px 12px;
      top: 0.5rem;
      right: 0.5rem; } }
  .burger-btn span {
    background-color: #f0eddd;
    width: 1.75rem;
    height: 0.25rem;
    display: block;
    margin: 0.25rem 0 0 0;
    border-radius: 0.25rem;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out 50ms;
    transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out 50ms;
    transition: transform 200ms ease-in-out 50ms, opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out 50ms, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out 50ms; }
    .burger-btn span:nth-child(1) {
      margin: 0; }
    @media screen and (max-width: 767px) {
      .burger-btn span {
        width: 24px;
        height: 3px; } }

.burger-btn.is-open span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0; }
.burger-btn.is-open span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }
  @media screen and (max-width: 767px) {
    .burger-btn.is-open span:nth-child(1) {
      -webkit-transform: translateY(7px) rotate(45deg);
              transform: translateY(7px) rotate(45deg); } }
.burger-btn.is-open span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }
  @media screen and (max-width: 767px) {
    .burger-btn.is-open span:nth-child(3) {
      -webkit-transform: translateY(-7px) rotate(-45deg);
              transform: translateY(-7px) rotate(-45deg); } }

#sloader {
  width: 100%;
  height: 100%;
  background-color: #10222e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

#nav {
  background-color: #71adbe;
  padding: 2rem 1rem;
  position: absolute;
  top: 2rem;
  right: 5.5rem;
  z-index: 3;
  -webkit-transition: opacity 400ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 400ms ease-out, -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out, opacity 400ms ease-out;
  transition: transform 300ms ease-out, opacity 400ms ease-out, -webkit-transform 300ms ease-out;
  -webkit-transform-origin: 100% 2rem;
          transform-origin: 100% 2rem;
  box-shadow: 0.25rem 0.75rem 1rem rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 767px) {
    #nav {
      top: 0;
      right: 4.5rem; } }
  #nav:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 1.5rem;
    right: -0.75rem;
    border-top: 0.75rem solid transparent;
    border-bottom: 0.75rem solid transparent;
    border-left: 0.75rem solid #71adbe; }
  #nav ul, #nav li {
    list-style-type: none; }
  #nav li {
    margin-bottom: 1rem;
    cursor: pointer;
    color: #ffffff; }
    #nav li:last-child {
      margin-bottom: 0; }
    #nav li:hover {
      color: #e7e2c8; }

#nav.hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0; }

.section {
  position: relative;
  display: block;
  padding-top: 1rem;
  padding-bottom: 10%; }

.section > .wrapper h2 {
  font: normal 2rem Ubuntu, Tahoma, Arial, Sans-Serif;
  text-align: center;
  margin-bottom: 4rem; }
  @media screen and (max-width: 1024px) {
    .section > .wrapper h2 {
      font-size: 1.5rem; } }

.section:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 0;
  padding-bottom: 10%;
  z-index: 2; }

.wrapper {
  position: relative;
  margin: 1rem auto 2rem auto;
  width: 1136px; }
  @media screen and (min-width: 768px) and (max-width: 1168px) {
    .wrapper {
      width: 44rem; } }
  @media screen and (max-width: 767px) {
    .wrapper {
      width: 100%;
      padding: 0 1rem; } }

header#section-1 {
  position: relative;
  background-color: #f0eddd;
  max-height: 38rem; }
  header#section-1:before {
    background-color: #10222e;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left; }
  @media screen and (min-width: 1168px) {
    header#section-1 .wrapper {
      padding-bottom: 30%; } }
  @media screen and (min-width: 768px) and (max-width: 1168px) {
    header#section-1 .wrapper {
      padding-bottom: 45%; } }
  @media screen and (max-width: 767px) {
    header#section-1 .wrapper {
      padding-bottom: 90%; } }
  header#section-1 img {
    z-index: 1;
    position: absolute;
    bottom: -40%;
    right: 0;
    max-width: 95%;
    max-height: 145%;
    -webkit-transition: opacity 800ms ease-out 400ms;
    transition: opacity 800ms ease-out 400ms; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      header#section-1 img {
        right: -8%;
        max-width: 125%;
        max-height: 125%; } }
    @media screen and (max-width: 767px) {
      header#section-1 img {
        bottom: -20%;
        right: -17%;
        max-width: 134%;
        max-height: 104%; } }
  header#section-1 .mid-box {
    z-index: 3;
    position: absolute;
    max-width: 45%;
    height: 12rem;
    top: 40%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      header#section-1 .mid-box {
        padding-left: 1rem;
        max-width: 65%;
        top: 50%; } }
    header#section-1 .mid-box h1 {
      text-align: left;
      font-family: Ubuntu, Tahoma, Arial, Sans-Serif;
      font-size: 4rem;
      font-weight: normal;
      -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
      transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
      transition: opacity 400ms ease-out, transform 400ms ease-out;
      transition: opacity 400ms ease-out, transform 400ms ease-out, -webkit-transform 400ms ease-out; }
      @media screen and (min-width: 768px) and (max-width: 1168px) {
        header#section-1 .mid-box h1 {
          font-size: 3rem; } }
      @media screen and (max-width: 767px) {
        header#section-1 .mid-box h1 {
          font-size: 1.85rem; } }
    header#section-1 .mid-box h2 {
      text-align: left;
      font-family: Merriweather, Arial, Sans-Serif;
      font-size: 1.5rem;
      font-weight: normal;
      color: #678b99;
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      -webkit-transition: opacity 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms;
      transition: opacity 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms;
      transition: opacity 400ms ease-out 200ms, transform 400ms ease-out 200ms;
      transition: opacity 400ms ease-out 200ms, transform 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms; }
      @media screen and (min-width: 768px) and (max-width: 1168px) {
        header#section-1 .mid-box h2 {
          font-size: 1.3rem; } }
      @media screen and (max-width: 767px) {
        header#section-1 .mid-box h2 {
          font-size: 1rem; } }
    header#section-1 .mid-box #get_in_touch_link {
      padding: 1rem 1.5rem;
      border-radius: 0.25rem;
      background-color: #10222e;
      color: #f0eddd;
      cursor: pointer;
      display: inline-block;
      -webkit-transition: opacity 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms;
      transition: opacity 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms;
      transition: opacity 400ms ease-out 400ms, transform 400ms ease-out 400ms;
      transition: opacity 400ms ease-out 400ms, transform 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms; }
      header#section-1 .mid-box #get_in_touch_link:hover {
        background-color: #183345; }
      @media screen and (max-width: 767px) {
        header#section-1 .mid-box #get_in_touch_link {
          font-size: 0.85rem;
          padding: 0.75rem 0.5rem;
          margin-top: -1rem; } }

header#section-1.not_loaded img {
  opacity: 0; }
header#section-1.not_loaded h1, header#section-1.not_loaded h2, header#section-1.not_loaded #get_in_touch_link {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem); }

.section#section-2 {
  background-color: #10222e;
  color: #71adbe;
  overflow: hidden;
  z-index: 3; }
  .section#section-2:before {
    background-color: #4a6b78;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right; }
  .section#section-2 .wrapper {
    z-index: 2; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-2 .wrapper {
        width: 46rem; } }
  .section#section-2 h2 {
    color: #f0eddd;
    text-align: center; }
  .section#section-2 .timeline {
    color: #71adbe;
    list-style-type: none;
    position: relative;
    padding-bottom: 2rem;
    margin: 6rem 0 5rem 0;
    -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out, -webkit-transform 400ms ease-out; }
    .section#section-2 .timeline:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #71adbe;
      position: absolute;
      width: 54rem;
      top: 3.8rem;
      left: 8.5rem; }
      @media screen and (min-width: 768px) and (max-width: 1168px) {
        .section#section-2 .timeline:before {
          width: 34rem;
          left: 6rem; } }
      @media screen and (max-width: 767px) {
        .section#section-2 .timeline:before {
          border-bottom: none;
          border-left: 1px solid #71adbe;
          width: 0.3rem;
          height: 78.5%;
          top: 0.25rem;
          right: 35%;
          left: auto; } }
    .section#section-2 .timeline li {
      float: left;
      width: 25%;
      position: relative;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .section#section-2 .timeline li {
          float: none;
          width: 100%; } }
      .section#section-2 .timeline li:before {
        content: " ";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        background-color: #71adbe;
        position: absolute;
        top: 3.5rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li:before {
            top: 0.2rem;
            right: 35%;
            left: auto;
            -webkit-transform: translateX(0);
                    transform: translateX(0); } }
      .section#section-2 .timeline li i {
        display: block;
        text-align: center;
        font: normal 1.5rem Merriweather, Arial, Sans-Serif;
        -webkit-transition: opacity 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms;
        transition: opacity 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms;
        transition: opacity 400ms ease-out 200ms, transform 400ms ease-out 200ms;
        transition: opacity 400ms ease-out 200ms, transform 400ms ease-out 200ms, -webkit-transform 400ms ease-out 200ms; }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li i {
            font-size: 0.875rem;
            position: absolute;
            top: 0;
            right: 0; } }
      .section#section-2 .timeline li h3 {
        -webkit-transition: opacity 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms;
        transition: opacity 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms;
        transition: opacity 400ms ease-out 400ms, transform 400ms ease-out 400ms;
        transition: opacity 400ms ease-out 400ms, transform 400ms ease-out 400ms, -webkit-transform 400ms ease-out 400ms; }
      .section#section-2 .timeline li h3 a, .section#section-2 .timeline li h3 a:visited {
        display: block;
        text-decoration: none;
        font: bold 1rem Ubuntu, Tahoma, Arial, Sans-Serif;
        color: #71adbe;
        text-align: center;
        margin-top: 4.5rem; }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li h3 a, .section#section-2 .timeline li h3 a:visited {
            text-align: left;
            margin-top: 3rem; } }
      .section#section-2 .timeline li p {
        font: normal 1rem Ubuntu, Tahoma, Arial, Sans-Serif;
        color: #f0eddd;
        position: relative;
        display: inline-block;
        text-align: left;
        width: 65%;
        margin-top: 0.5rem;
        -webkit-transition: opacity 400ms ease-out 600ms, -webkit-transform 400ms ease-out 600ms;
        transition: opacity 400ms ease-out 600ms, -webkit-transform 400ms ease-out 600ms;
        transition: opacity 400ms ease-out 600ms, transform 400ms ease-out 600ms;
        transition: opacity 400ms ease-out 600ms, transform 400ms ease-out 600ms, -webkit-transform 400ms ease-out 600ms; }
        @media screen and (min-width: 768px) and (max-width: 1168px) {
          .section#section-2 .timeline li p {
            width: 80%;
            font-size: 0.875rem; } }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li p {
            display: block;
            text-align: left;
            width: 52%; } }
      .section#section-2 .timeline li:nth-child(1) p {
        left: 3rem; }
        @media screen and (min-width: 768px) and (max-width: 1168px) {
          .section#section-2 .timeline li:nth-child(1) p {
            left: 1.8rem; } }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li:nth-child(1) p {
            left: 0; } }
      .section#section-2 .timeline li:nth-child(2) p {
        left: 4rem; }
        @media screen and (min-width: 768px) and (max-width: 1168px) {
          .section#section-2 .timeline li:nth-child(2) p {
            left: 2.8rem; } }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li:nth-child(2) p {
            left: 0; } }
      .section#section-2 .timeline li:nth-child(3) p {
        left: 4.5rem; }
        @media screen and (min-width: 768px) and (max-width: 1168px) {
          .section#section-2 .timeline li:nth-child(3) p {
            left: 3.4rem; } }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li:nth-child(3) p {
            left: 0; } }
      .section#section-2 .timeline li:nth-child(4) p {
        left: 3.8rem; }
        @media screen and (min-width: 768px) and (max-width: 1168px) {
          .section#section-2 .timeline li:nth-child(4) p {
            left: 2.55rem; } }
        @media screen and (max-width: 767px) {
          .section#section-2 .timeline li:nth-child(4) p {
            left: 0; } }

.section#section-2.not_loaded .timeline {
  -webkit-transform: scale(0.125, 1);
          transform: scale(0.125, 1);
  opacity: 0; }
  @media screen and (max-width: 767px) {
    .section#section-2.not_loaded .timeline {
      -webkit-transform: scale(1, 0.125);
              transform: scale(1, 0.125); } }
  .section#section-2.not_loaded .timeline h3, .section#section-2.not_loaded .timeline p, .section#section-2.not_loaded .timeline i {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0; }

.section#section-3 {
  background-color: #4a6b78;
  color: #f0eddd;
  z-index: 4; }
  .section#section-3:before {
    background-color: #f0eddd;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left; }
  .section#section-3 .wrapper {
    margin-bottom: 2rem; }
  .section#section-3 .leftBox, .section#section-3 .rightBox {
    float: left; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-3 .leftBox, .section#section-3 .rightBox {
        float: none; } }
    @media screen and (max-width: 767px) {
      .section#section-3 .leftBox, .section#section-3 .rightBox {
        float: none; } }
  .section#section-3 .leftBox {
    margin-right: 6rem;
    width: 47rem; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-3 .leftBox {
        width: 100%;
        margin-right: 0; } }
    @media screen and (max-width: 767px) {
      .section#section-3 .leftBox {
        width: 100%;
        margin-right: 0; } }
  .section#section-3 .rightBox {
    width: 17rem; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-3 .rightBox {
        width: 100%;
        margin-top: 4rem; } }
    @media screen and (max-width: 767px) {
      .section#section-3 .rightBox {
        width: 100%;
        margin-top: 3rem; } }
  .section#section-3 h2 {
    color: #f0eddd;
    text-align: left;
    margin-bottom: 3rem; }
    @media screen and (max-width: 1024px) {
      .section#section-3 h2 {
        margin-bottom: 3rem;
        text-align: center; } }
  .section#section-3 p {
    -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
    transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    transition: opacity 300ms ease-out, transform 300ms ease-out, -webkit-transform 300ms ease-out; }
  .section#section-3 ul li {
    position: relative;
    list-style-type: none;
    padding-left: 1.75rem;
    margin-bottom: 1rem;
    -webkit-transition: opacity 300ms ease-out 100ms, -webkit-transform 300ms ease-out 100ms;
    transition: opacity 300ms ease-out 100ms, -webkit-transform 300ms ease-out 100ms;
    transition: opacity 300ms ease-out 100ms, transform 300ms ease-out 100ms;
    transition: opacity 300ms ease-out 100ms, transform 300ms ease-out 100ms, -webkit-transform 300ms ease-out 100ms; }
  .section#section-3 ul li:before {
    content: " ";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-image: url("img/bullet.png");
    background-position: center center;
    background-repeat: no-repeat; }

.section#section-3.not_loaded p {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0; }
.section#section-3.not_loaded ul li {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0; }

.section#section-4 {
  background-color: #f0eddd;
  z-index: 5; }
  .section#section-4:before {
    background-color: #10222e;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right; }
  .section#section-4 h2 {
    color: #10222e; }
  .section#section-4 h3 {
    color: #4a6b78;
    font-weight: normal;
    font-size: 1rem;
    -webkit-transition: -webkit-transform 600ms ease-out;
    transition: -webkit-transform 600ms ease-out;
    transition: transform 600ms ease-out;
    transition: transform 600ms ease-out, -webkit-transform 600ms ease-out; }
  .section#section-4 .items {
    margin: 0 0 6rem 0; }
  .section#section-4 .item {
    width: 25%;
    float: left;
    padding: 1rem;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 767px) {
      .section#section-4 .item {
        width: 100%;
        margin-bottom: 2rem; } }
  .section#section-4 .item p {
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #4a6b78; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-4 .item p {
        top: 65px; } }
    @media screen and (max-width: 767px) {
      .section#section-4 .item p {
        top: 35%; } }
  .section#section-4 .circle {
    position: relative;
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
    width: 16rem;
    height: 8rem;
    margin-bottom: 3rem; }
    @media screen and (min-width: 768px) and (max-width: 1168px) {
      .section#section-4 .circle {
        width: 14rem;
        height: 7rem;
        margin-left: -2.5rem; } }
    @media screen and (max-width: 767px) {
      .section#section-4 .circle {
        margin-bottom: 1.5rem;
        width: 100%;
        height: 100%; } }

.item:nth-child(1) {
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out, -webkit-transform 300ms ease-out; }

.item:nth-child(2) {
  -webkit-transition: opacity 300ms ease-out 150ms, -webkit-transform 300ms ease-out 150ms;
  transition: opacity 300ms ease-out 150ms, -webkit-transform 300ms ease-out 150ms;
  transition: opacity 300ms ease-out 150ms, transform 300ms ease-out 150ms;
  transition: opacity 300ms ease-out 150ms, transform 300ms ease-out 150ms, -webkit-transform 300ms ease-out 150ms; }

.item:nth-child(3) {
  -webkit-transition: opacity 300ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms;
  transition: opacity 300ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms;
  transition: opacity 300ms ease-out 300ms, transform 300ms ease-out 300ms;
  transition: opacity 300ms ease-out 300ms, transform 300ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms; }

.item:nth-child(4) {
  -webkit-transition: opacity 300ms ease-out 450ms, -webkit-transform 300ms ease-out 450ms;
  transition: opacity 300ms ease-out 450ms, -webkit-transform 300ms ease-out 450ms;
  transition: opacity 300ms ease-out 450ms, transform 300ms ease-out 450ms;
  transition: opacity 300ms ease-out 450ms, transform 300ms ease-out 450ms, -webkit-transform 300ms ease-out 450ms; }

.section#section-4.not_loaded .item {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0; }
  .section#section-4.not_loaded .item h3 {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem); }

.section#section-5 {
  background-color: #10222e;
  z-index: 6; }
  .section#section-5 h2 {
    color: #ffffff;
    margin-bottom: 6rem; }
    @media screen and (max-width: 767px) {
      .section#section-5 h2 {
        margin-bottom: 4rem; } }
  .section#section-5 .item {
    width: 33.333%;
    float: left;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .section#section-5 .item {
        width: 100%;
        float: none;
        height: 3rem;
        margin-top: 1rem; } }
  .section#section-5 img {
    width: 3rem;
    margin: 0 auto;
    -webkit-transition: opacity 150ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms;
    transition: opacity 150ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms;
    transition: opacity 150ms ease-out 300ms, transform 300ms ease-out 300ms;
    transition: opacity 150ms ease-out 300ms, transform 300ms ease-out 300ms, -webkit-transform 300ms ease-out 300ms; }
    @media screen and (max-width: 767px) {
      .section#section-5 img {
        width: 2rem;
        float: left; } }
  .section#section-5 p {
    color: #71adbe;
    margin-top: 1rem;
    -webkit-transition: opacity 150ms ease-out 600ms, -webkit-transform 300ms ease-out 600ms;
    transition: opacity 150ms ease-out 600ms, -webkit-transform 300ms ease-out 600ms;
    transition: opacity 150ms ease-out 600ms, transform 300ms ease-out 600ms;
    transition: opacity 150ms ease-out 600ms, transform 300ms ease-out 600ms, -webkit-transform 300ms ease-out 600ms; }
    @media screen and (max-width: 767px) {
      .section#section-5 p {
        float: left;
        margin-top: -0.5rem;
        margin-left: 0.5rem;
        padding: 1rem 0;
        font-size: 0.85rem; } }
  .section#section-5 a, .section#section-5 a:visited {
    display: block;
    margin: 2rem auto;
    background-color: #4a6b78;
    width: 13rem;
    text-align: center;
    padding: 1rem 0rem;
    border-radius: 4px;
    color: #f0eddd;
    text-decoration: none;
    -webkit-transition: opacity 150ms ease-out 900ms, -webkit-transform 300ms ease-out 900ms;
    transition: opacity 150ms ease-out 900ms, -webkit-transform 300ms ease-out 900ms;
    transition: opacity 150ms ease-out 900ms, transform 300ms ease-out 900ms;
    transition: opacity 150ms ease-out 900ms, transform 300ms ease-out 900ms, -webkit-transform 300ms ease-out 900ms; }
    .section#section-5 a:hover, .section#section-5 a:visited:hover {
      background-color: #567c8b; }
    @media screen and (max-width: 767px) {
      .section#section-5 a, .section#section-5 a:visited {
        float: right;
        width: auto;
        margin: -0.5rem 0 0 0;
        padding: 1rem 0.5rem;
        font-size: 0.85rem; } }

.section#section-5.not_loaded img {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0; }
.section#section-5.not_loaded p, .section#section-5.not_loaded a {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0; }